<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item me-3 text-white d-flex align-items-center">
        Angemeldet als @User.Identity.Name
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-light btn-sm" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
